@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	position: fixed;
	background-color: white;
	top: 0;
	overflow: hidden;
	left: 0;
	z-index: 1;
	margin: 10px;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 5rem;
	width: 98%;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
.logo {
	text-transform: uppercase;
	cursor: pointer;
}
nav a {
	font-size: 15px;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation {
	position: relative;
	height: 100%;
	top: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
}
nav a:nth-child(2) {
	width: 110px;
}
nav a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
}
nav a:nth-child(3) {
	width: 100px;
}
nav a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
}
nav a:nth-child(4) {
	width: 160px;
}
nav a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
}
nav a:nth-child(5) {
	width: 120px;
}
nav a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
}
.home {
	min-height: 400px;
	min-width: 500px;
	background-position: cover;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	margin-top: 10rem;
}
marquee {
	padding: 4rem;
	padding-bottom: 0%;
	font-size: 30px;
	font-weight: 200px;
	color: aqua;
	font-family: serif;
	text-overflow: clip;
	box-shadow: #34495e;
}
.class carousel-indicators {
	margin: 0% auto;
	padding: 0%;
	margin-left: 0.1rem;
	margin-right: 12rem;
	background-position: cover;
}
.logo {
	text-align: center;
	margin-top: -38rem;
}
#about h2 {
	text-align: center;
}
#about {
	font-size: 18px;
	font-family: serif;
	margin: 5rem;
	color: black;
	text-align: center;
	margin-bottom: 18rem;
	margin-left: 0.1rem;
	margin-right: 12rem;
	background-position: cover;
	background-repeat: no-repeat;
	min-width: 1500px;
	min-height: 1000px;
	background-position: cover;
	background-repeat: no-repeat;
	background-size: cover;
}
#gallery {
	padding: 0%;
	margin: 5px;
}
.images {
	margin: 10px;
	padding: 0%;
}
.galley {
	justify-content: right;
	margin-left: 20rem;
	margin-left: 20rem;
	margin-right: 25rem;
}
.card-text2 {
	justify-content: left;
	margin-left: -12em;
	margin-right: 20em;
	font-size: 20px;
	text-align: center;
}
.card-text2 li {
	margin-right: 40em;
	margin-left: -2em;
}
.card-text1 li {
	margin-right: 40em;
	margin-left: 20em;
	font-size: 15px;
	text-align: center;
	/* font-weight: normal; */
}
.card-text3 li {
	margin-right: 40em;
	margin-left: 20em;
	font-size: 15px;
	text-align: center;
}
.what-we-offer {
	padding-top: 0%;
}
#what-we-offer {
	background-image: url("./images/office-space-planning.jpeg");
	background-position: cover;
	background-repeat: no-repeat;
	margin-top: -30rem;
}
#what-we-offer h2 {
	text-align: center;
	font-family: serif;
	margin-top: -1rem;
	/* color:white; */
}
#what-we-offer li, p {
	font-size: 25px;
	text-align: center;
	text-decoration: none;
}
.what-we-offer h4 {
	text-align: center;
	font-size: 20px;
	font-style: normal;
}
.what-we-offer p {
	padding: 1rem;
	font-size: 25px;
	font-family: serif;
}
h2 {
	text-align: center;
}
h2, h4 {
	font-size: medium;
	text-align: justify;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* 
.packages p{
	padding: 12rem;
  	text-align: center;
  	font-size: 25px;
  	font-family: serif;
  	color:black;

}  */

.packages h2 {
	text-align: center;
}
.inner {
	overflow: hidden;
}
.inner img {
	transition: all.5s;
}
.inner:hover img {
	transform: scale(1.5);
}
.button {
	display: inline-block;
	border-radius: 4rem;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button:hover span {
	padding-right: 25px;
}
.button:hover span:after {
	opacity: 1;
	right: 0;
}
.footer {
	background-color: #24262b;
	font-family: 'Poppins', sans-serif;
}
.footer * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
.contain, .footer {
	max-width: 1170px;
	margin: auto;
	padding-top: -8rem;
	border-radius: 4rem;
}
.arrange {
	display: flex;
	flex-wrap: wrap;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 30px;
	margin-left: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
	margin-left: 3rem;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #7e6363;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	padding-left: 8px;
}
.footer-col .social-links a {
	display: inline-block;
	width: 40px;
	background-color: rgb(255, 255, 255, 0.2);
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #FFFFFF;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #FFFFFF;
}
@media(max-width:767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width:574px) {
	.footer-col {
		width: 100%;
	}
}